
.image-fit {
    height: 300px;
}


.nav-bar-list {
    list-style-type: none;
    display: inline;
    /* margin-left: 5px; */
}

.nav-bar-list > li {
    display: inline;
    margin-left: 10px;
    color: white;
}

.nav-bar-list > li > a {
    color: white;
}

#nav-bar {
    background-color: #00274f;
    color: white;
    /* width: max-content; */
    /* height: fit-content(110); */
    margin: -8px; /*why eight specifically>*/
    padding: 10px;
    vertical-align: center;
    top:0;
    left:0;
    text-align: center;
    
    
}


