#all {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00274f;
    font-size: medium;
}



.image-fit {
    height: 300px;
}

.logo {
    height: 150px;
}


.nav-bar-list {
    list-style-type: none;
    display: inline;
    /* margin-left: 5px; */
}

.nav-bar-list > li {
    display: inline;
    margin-left: 10px;
    color: white;
}

.nav-bar-list > li > a {
    color: white;
}


#nav-bar {
    background-color: #00274f;
    color: white;
    /* width: max-content; */
    /* height: fit-content(110); */
    margin: -8px; /*why eight specifically>*/
    padding: 10px;
    vertical-align: center;
    top:0;
    left:0;
    text-align: center;
    position: sticky;
    
    
}

/* .subsection {
    padding-bottom: 60px;
} */

.subsection > li {
    margin-left:30px;
    margin-right: 30px;
    list-style-type: none;
    
}

/* lists inside subsectiosn got messed up */
.subsection > li >li {
    list-style-type: circle;
}

.status-finished {
    border-color: chartreuse;
    color:green;
    font-weight: bold;
}

.status-wip {
    border-color: darkgoldenrod;
    color:darkgoldenrod;
    font-weight: bold;
}

.status-not-started {
    border-color: red;
    color:red;
    font-weight: bold;
}

h4 {
    margin: 0;
    padding: 0;
}

.dark-proj {
    background-color: #00274f;
    color: white;
    padding: 10px;
}

.light-proj {
    color: #00274f;
    background-color: white;
    border-color: #00274f;
    border-style: solid;
    padding: 10px;
}


.link-button {
    color: #00274f;
    background-color: white;
    border-color: #00274f;
    border-style:ridge;
    padding-right: 10px;
    padding-left: 10px;
}

.proj-image {
    height: 300px;
}



.anchor {
    position: absolute;
    transform: translateY(-15vh);
    visibility: hidden;
  }


.title > a {
    text-decoration: none;
    display: inline;
    color: white;
}

.title {
    display: inline;
}

#projects > li {
    padding: 10px;
}


/* all my subtitle are in h3 anyway*/
h3 {
    padding-top: 30px;
}


.linelol {
    color: #00274f;
    background-color: #00274f;
    height: 5px;
}


.tab {
    /* tab-size: 16; / for e.g: value = 2*/

    display: inline-block;
    margin-left: 40px;
    align-items: end;
    
}